* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 45, 38);
    height: 100%;
    background-image: url(../img/nakovalnya.png);
    background-size: auto;
        /* background-size: 1659px 1000px; */
    background-repeat: no-repeat;
    background-position: center top;
}


.wrapper{
    max-width: 100%;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    align-items:center;

    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button {
    display: block;
    width: 100%;
    background-color:rgb(224, 5, 5); 
    padding: 10px 35px 10px 45px;
        /* padding: 10px 35px 10px auto; */
    opacity: 0.9;
    border-radius: 9999px;
    height: 40px;
    font-size: 1.5em;
    font-weight: 700;
    color: #ffffff;
    margin: 15px 15px;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
}

input[type="date"]{
    background-color: rgb(192, 2, 12);
    color: #fff;
    border: none;
    border-radius: 9999px;
    opacity: 0.9;
    font-size: 1.5em;
    padding: 10px 35px;
}

.div-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 35px;
}

.select-date-prompt {
    color: #fff;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-point {
    
}

.second-point {
    margin-left: 30px;
}

.third-point {
    margin-left: 60px;
}

.comrad {
    color: #fff;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}



.schedule-out {
    visibility: hidden;
    /* orientation: portrait; */
    /* overflow-x: visible; */
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    /* transform: rotate(90deg); */

}


.for-test {
    background-color: rgb(192, 2, 12);
    margin: 10px;
    padding: 10px;
    width: auto;
    height: 100%;
    color: #fff;
}

.table-out {
    border: 5px double #000;
    background-color: rgb(192, 2, 12);
    /* height: 100%; */
    min-height: 280px;
}

th {
    border: 1px solid #fff;

}

td {
    border: 1px solid #fff;
}
.tbody-out {
    background-color: #fff;

}
.table-out {
    overflow-x: visible;
}

/* .tbody-out {
    display: flex;
    justify-content: end;
    margin-left: 50px;
    width: 750px;
} */

/* @media screen {
    * {
        font-size: 14px;
    }
    
} */
